.*.swp
*~
\#*#
auto-save-list
elpa
url
*/*/eshell
tramp
bookmarks
*/games/*
emms
xmonad-x86_64-openbsd
xmonad.errors
xmonad.hi
xmonad.o
ac-comphist.dat
recentf
/slip/config/nvim/.netrwhist
common/dot_gnupg/crls.d/
common/dot_gnupg/private-keys-v1.d/
common/dot_gnupg/pubring.kbx
common/dot_gnupg/random_seed
common/dot_gnupg/reader_0.status
common/dot_gnupg/sshcontrol
common/dot_gnupg/tofu.db
common/dot_gnupg/trustdb.gpg
common/dot_emacs.d/forge-database.sqlite
common/dot_gnupg/openpgp-revocs.d/
common/dot_emacs.d/site-lisp/custom.el
/common/dot_emacs.d/.org-id-locations
/*.core
/common/dot_emacs.d/.lsp-session-v1
