*.core
*/*/eshell
*/games/*
*~
.*.swp
/*.core
/common/dot_emacs.d/.lsp-session-v1
/slip/config/nvim/.netrwhist
\#*#
ac-comphist.dat
auto-save-list
bookmarks
common/dot_emacs.d/.cache/
common/dot_emacs.d/.emacs.desktop
common/dot_emacs.d/.emacs.desktop.lock
common/dot_emacs.d/.org-id-locations
common/dot_emacs.d/forge-database.sqlite
common/dot_emacs.d/history
common/dot_emacs.d/projectile-bookmarks.eld
common/dot_emacs.d/site-lisp/custom.el
common/dot_emacs.d/transient/
common/dot_gnupg/crls.d/
common/dot_gnupg/openpgp-revocs.d/
common/dot_gnupg/private-keys-v1.d/
common/dot_gnupg/pubring.kbx
common/dot_gnupg/random_seed
common/dot_gnupg/reader_0.status
common/dot_gnupg/sshcontrol
common/dot_gnupg/tofu.db
common/dot_gnupg/trustdb.gpg
diary
elpa
emms
ido.last
recentf
smex-items
tramp
url
xmonad-x86_64-openbsd
xmonad.errors
xmonad.hi
xmonad.o
