LANGUAGE:English
STATION_CALLSIGN:KD0WKW
STATION_LAT:0000.000N
STATION_LONG:00000.000W
STATION_GROUP:/
STATION_SYMBOL:l
STATION_MESSAGE_TYPE:=
STATION_POWER:
STATION_COMMENTS:XASTIR-OpenBSD
MY_TRAIL_DIFF_COLOR:0
SCREEN_WIDTH:1364
SCREEN_HEIGHT:689
SCREEN_LAT:18626458
SCREEN_LONG:27132470
RELAY_DIGIPEAT_CALLS:WIDE1-1
COORDINATE_SYSTEM:1
STATION_TRANSMIT_AMB:0
SCREEN_ZOOM:64
MAP_BGCOLOR:0
MAP_DRAW_FILLED_COLORS:1
IMAGEMAGICK_GAMMA_ADJUST:0.000000
RASTER_MAP_INTENSITY:1.000000
PRINT_PROGRAM:/usr/bin/lpr
PREVIEWER_PROGRAM:/usr/local/bin/gv
MAP_LETTERSTYLE:1
MAP_ICONOUTLINESTYLE:0
MAP_WX_ALERT_STYLE:0
ALTNET_CALL:XASTIR
ALTNET:0
SKIP_DUPE_CHECK:0
AUTO_MAP_DIR:/usr/local/share/xastir/maps
ALERT_MAP_DIR:/usr/local/share/xastir/Counties
SELECTED_MAP_DIR:/usr/local/share/xastir/maps
SELECTED_MAP_DATA:config/selected_maps.sys
MAP_INDEX_DATA:config/map_index.sys
SYMBOLS_DIR:/usr/local/share/xastir/symbols
SOUND_DIR:/usr/local/share/xastir/sounds
GROUP_DATA_FILE:config/groups
GNIS_FILE:/usr/local/share/xastir/GNIS/WA.gnis
GEOCODE_FILE:/usr/local/share/xastir/GNIS/geocode
SHOW_FIND_TARGET:1
MAPS_LONG_LAT_GRID:1
MAPS_LABELED_GRID_BORDER:0
MAPS_LEVELS:1
MAPS_LABELS:1
MAP_LOCK_PAN_ZOOM:0
MAPS_AUTO_MAPS:0
MAPS_AUTO_MAPS_SKIP_RASTER:0
MAPS_INDEX_ON_STARTUP:1
MAPS_LABEL_FONT_TINY:-adobe-helvetica-medium-r-normal--8-*-*-*-*-*-iso8859-1
MAPS_LABEL_FONT_SMALL:-adobe-helvetica-medium-r-normal--10-*-*-*-*-*-iso8859-1
MAPS_LABEL_FONT_MEDIUM:-adobe-helvetica-medium-r-normal--12-*-*-*-*-*-iso8859-1
MAPS_LABEL_FONT_LARGE:-adobe-helvetica-medium-r-normal--14-*-*-*-*-*-iso8859-1
MAPS_LABEL_FONT_HUGE:-adobe-helvetica-medium-r-normal--24-*-*-*-*-*-iso8859-1
MAPS_LABEL_FONT_BORDER:-adobe-helvetica-medium-r-normal--14-*-*-*-*-*-iso8859-1
SYSTEM_FIXED_FONT:fixed
STATION_FONT:fixed
ATV_ID_FONT:-*-helvetica-*-*-*-*-*-240-*-*-*-*-*-*
NET_MAP_TIMEOUT:120
TIGERMAP_SHOW_GRID:0
TIGERMAP_SHOW_COUNTIES:1
TIGERMAP_SHOW_CITIES:1
TIGERMAP_SHOW_PLACES:1
TIGERMAP_SHOW_MAJROADS:1
TIGERMAP_SHOW_STREETS:0
TIGERMAP_SHOW_RAILROAD:1
TIGERMAP_SHOW_STATES:0
TIGERMAP_SHOW_INTERSTATE:1
TIGERMAP_SHOW_USHWY:1
TIGERMAP_SHOW_STATEHWY:1
TIGERMAP_SHOW_WATER:1
TIGERMAP_SHOW_LAKES:1
TIGERMAP_SHOW_MISC:1
DRG_XOR_COLORS:0
DRG_SHOW_COLORS_0:1
DRG_SHOW_COLORS_1:1
DRG_SHOW_COLORS_2:1
DRG_SHOW_COLORS_3:1
DRG_SHOW_COLORS_4:1
DRG_SHOW_COLORS_5:1
DRG_SHOW_COLORS_6:1
DRG_SHOW_COLORS_7:1
DRG_SHOW_COLORS_8:1
DRG_SHOW_COLORS_9:1
DRG_SHOW_COLORS_10:1
DRG_SHOW_COLORS_11:1
DRG_SHOW_COLORS_12:1
DISPLAY_MY_STATION:1
DISPLAY_TNC_STATIONS:1
DISPLAY_TNC_DIRECT_STATIONS:1
DISPLAY_TNC_VIADIGI_STATIONS:1
DISPLAY_NET_STATIONS:1
DISPLAY_TACTICAL_STATIONS:0
DISPLAY_OLD_STATION_DATA:0
DISPLAY_STATIONS:1
DISPLAY_FIXED_STATIONS:1
DISPLAY_MOVING_STATIONS:1
DISPLAY_WEATHER_STATIONS:1
DISPLAY_CWOP_WX_STATIONS:1
DISPLAY_OBJECTS:1
DISPLAY_STATION_WX_OBJ:1
DISPLAY_WATER_GAGE_OBJ:1
DISPLAY_OTHER_OBJECTS:1
DISPLAY_AIRCRAFT_OBJECTS:1
DISPLAY_VESSEL_OBJECTS:1
DISPLAY_CALLSIGN:1
DISPLAY_LABEL_ALL_TRACKPOINTS:0
DISPLAY_SYMBOL:1
DISPLAY_SYMBOL_ROTATE:1
DISPLAY_STATION_PHG:0
DISPLAY_DEFAULT_PHG:0
DISPLAY_MOBILES_PHG:0
DISPLAY_ALTITUDE:0
DISPLAY_COURSE:0
DISPLAY_SPEED:1
DISPLAY_SPEED_SHORT:0
DISPLAY_DIST_COURSE:0
DISPLAY_WEATHER:1
DISPLAY_STATION_WX:1
DISPLAY_TEMP_ONLY:0
DISPLAY_WIND_BARB:1
DISPLAY_STATION_TRAILS:1
DISPLAY_LAST_HEARD:0
DISPLAY_POSITION_AMB:1
DISPLAY_DF_INFO:1
DISPLAY_DF_BEAMWIDTH_INFO:1
DISPLAY_DF_BEARING_INFO:0
DISPLAY_DEAD_RECKONING_INFO:1
DISPLAY_DEAD_RECKONING_ARC:1
DISPLAY_DEAD_RECKONING_COURSE:1
DISPLAY_DEAD_RECKONING_SYMBOL:1
DISPLAY_UNITS_ENGLISH:0
DISPLAY_DIST_BEAR_STATUS:0
DISPLAY_CAD_OBJECT_LABEL:1
DISPLAY_CAD_OBJECT_PROBABILITY:1
DISPLAY_CAD_OBJECT_COMMENT:1
DISPLAY_CAD_OBJECT_AREA:1
DISABLE_TRANSMIT:0
DISABLE_POSIT_TX:0
DISABLE_OBJECT_TX:0
ENABLE_SERVER_PORT:0
DEVICE0_TYPE:5
DEVICE0_NAME:
DEVICE0_RADIO_PORT:0
DEVICE0_CONVERSE_CMD:k
DEVICE0_INTERFACE_COMMENT:Core INET Servers
DEVICE0_HOST:rotate.aprs.net
DEVICE0_PASSWD:17318
DEVICE0_FILTER_PARAMS:m/500
DEVICE0_UNPROTO1:
DEVICE0_UNPROTO2:
DEVICE0_UNPROTO3:
DEVICE0_UNPROTO_IGATE:WIDE2-1
DEVICE0_TNC_UP_FILE:
DEVICE0_TNC_DOWN_FILE:
DEVICE0_TNC_TXDELAY:40
DEVICE0_TNC_PERSISTENCE:63
DEVICE0_TNC_SLOTTIME:10
DEVICE0_TNC_TXTAIL:30
DEVICE0_TNC_FULLDUPLEX:0
DEVICE0_TNC_INIT_KISSMODE:0
DEVICE0_SPEED:14580
DEVICE0_STYLE:0
DEVICE0_IGATE_OPTION:0
DEVICE0_TXMT:1
DEVICE0_RELAY_DIGIPEAT:1
DEVICE0_RECONN:1
DEVICE0_ONSTARTUP:1
DEVICE0_GPSRETR:5
DEVICE0_SETTIME:0
DEVICE0_TNCEXTRADELAY:0
DEVICE1_TYPE:0
DEVICE1_NAME:
DEVICE1_RADIO_PORT:0
DEVICE1_CONVERSE_CMD:k
DEVICE1_INTERFACE_COMMENT:
DEVICE1_HOST:
DEVICE1_PASSWD:
DEVICE1_FILTER_PARAMS:
DEVICE1_UNPROTO1:
DEVICE1_UNPROTO2:
DEVICE1_UNPROTO3:
DEVICE1_UNPROTO_IGATE:WIDE2-1
DEVICE1_TNC_UP_FILE:
DEVICE1_TNC_DOWN_FILE:
DEVICE1_TNC_TXDELAY:40
DEVICE1_TNC_PERSISTENCE:63
DEVICE1_TNC_SLOTTIME:10
DEVICE1_TNC_TXTAIL:30
DEVICE1_TNC_FULLDUPLEX:0
DEVICE1_TNC_INIT_KISSMODE:0
DEVICE1_SPEED:0
DEVICE1_STYLE:0
DEVICE1_IGATE_OPTION:0
DEVICE1_TXMT:0
DEVICE1_RELAY_DIGIPEAT:1
DEVICE1_RECONN:0
DEVICE1_ONSTARTUP:0
DEVICE1_GPSRETR:5
DEVICE1_SETTIME:0
DEVICE1_TNCEXTRADELAY:0
DEVICE2_TYPE:0
DEVICE2_NAME:
DEVICE2_RADIO_PORT:0
DEVICE2_CONVERSE_CMD:k
DEVICE2_INTERFACE_COMMENT:
DEVICE2_HOST:
DEVICE2_PASSWD:
DEVICE2_FILTER_PARAMS:
DEVICE2_UNPROTO1:
DEVICE2_UNPROTO2:
DEVICE2_UNPROTO3:
DEVICE2_UNPROTO_IGATE:WIDE2-1
DEVICE2_TNC_UP_FILE:
DEVICE2_TNC_DOWN_FILE:
DEVICE2_TNC_TXDELAY:40
DEVICE2_TNC_PERSISTENCE:63
DEVICE2_TNC_SLOTTIME:10
DEVICE2_TNC_TXTAIL:30
DEVICE2_TNC_FULLDUPLEX:0
DEVICE2_TNC_INIT_KISSMODE:0
DEVICE2_SPEED:0
DEVICE2_STYLE:0
DEVICE2_IGATE_OPTION:0
DEVICE2_TXMT:0
DEVICE2_RELAY_DIGIPEAT:1
DEVICE2_RECONN:0
DEVICE2_ONSTARTUP:0
DEVICE2_GPSRETR:5
DEVICE2_SETTIME:0
DEVICE2_TNCEXTRADELAY:0
DEVICE3_TYPE:0
DEVICE3_NAME:
DEVICE3_RADIO_PORT:0
DEVICE3_CONVERSE_CMD:k
DEVICE3_INTERFACE_COMMENT:
DEVICE3_HOST:
DEVICE3_PASSWD:
DEVICE3_FILTER_PARAMS:
DEVICE3_UNPROTO1:
DEVICE3_UNPROTO2:
DEVICE3_UNPROTO3:
DEVICE3_UNPROTO_IGATE:WIDE2-1
DEVICE3_TNC_UP_FILE:
DEVICE3_TNC_DOWN_FILE:
DEVICE3_TNC_TXDELAY:40
DEVICE3_TNC_PERSISTENCE:63
DEVICE3_TNC_SLOTTIME:10
DEVICE3_TNC_TXTAIL:30
DEVICE3_TNC_FULLDUPLEX:0
DEVICE3_TNC_INIT_KISSMODE:0
DEVICE3_SPEED:0
DEVICE3_STYLE:0
DEVICE3_IGATE_OPTION:0
DEVICE3_TXMT:0
DEVICE3_RELAY_DIGIPEAT:1
DEVICE3_RECONN:0
DEVICE3_ONSTARTUP:0
DEVICE3_GPSRETR:5
DEVICE3_SETTIME:0
DEVICE3_TNCEXTRADELAY:0
DEVICE4_TYPE:0
DEVICE4_NAME:
DEVICE4_RADIO_PORT:0
DEVICE4_CONVERSE_CMD:k
DEVICE4_INTERFACE_COMMENT:
DEVICE4_HOST:
DEVICE4_PASSWD:
DEVICE4_FILTER_PARAMS:
DEVICE4_UNPROTO1:
DEVICE4_UNPROTO2:
DEVICE4_UNPROTO3:
DEVICE4_UNPROTO_IGATE:WIDE2-1
DEVICE4_TNC_UP_FILE:
DEVICE4_TNC_DOWN_FILE:
DEVICE4_TNC_TXDELAY:40
DEVICE4_TNC_PERSISTENCE:63
DEVICE4_TNC_SLOTTIME:10
DEVICE4_TNC_TXTAIL:30
DEVICE4_TNC_FULLDUPLEX:0
DEVICE4_TNC_INIT_KISSMODE:0
DEVICE4_SPEED:0
DEVICE4_STYLE:0
DEVICE4_IGATE_OPTION:0
DEVICE4_TXMT:0
DEVICE4_RELAY_DIGIPEAT:1
DEVICE4_RECONN:0
DEVICE4_ONSTARTUP:0
DEVICE4_GPSRETR:5
DEVICE4_SETTIME:0
DEVICE4_TNCEXTRADELAY:0
DEVICE5_TYPE:0
DEVICE5_NAME:
DEVICE5_RADIO_PORT:0
DEVICE5_CONVERSE_CMD:k
DEVICE5_INTERFACE_COMMENT:
DEVICE5_HOST:
DEVICE5_PASSWD:
DEVICE5_FILTER_PARAMS:
DEVICE5_UNPROTO1:
DEVICE5_UNPROTO2:
DEVICE5_UNPROTO3:
DEVICE5_UNPROTO_IGATE:WIDE2-1
DEVICE5_TNC_UP_FILE:
DEVICE5_TNC_DOWN_FILE:
DEVICE5_TNC_TXDELAY:40
DEVICE5_TNC_PERSISTENCE:63
DEVICE5_TNC_SLOTTIME:10
DEVICE5_TNC_TXTAIL:30
DEVICE5_TNC_FULLDUPLEX:0
DEVICE5_TNC_INIT_KISSMODE:0
DEVICE5_SPEED:0
DEVICE5_STYLE:0
DEVICE5_IGATE_OPTION:0
DEVICE5_TXMT:0
DEVICE5_RELAY_DIGIPEAT:1
DEVICE5_RECONN:0
DEVICE5_ONSTARTUP:0
DEVICE5_GPSRETR:5
DEVICE5_SETTIME:0
DEVICE5_TNCEXTRADELAY:0
DEVICE6_TYPE:0
DEVICE6_NAME:
DEVICE6_RADIO_PORT:0
DEVICE6_CONVERSE_CMD:k
DEVICE6_INTERFACE_COMMENT:
DEVICE6_HOST:
DEVICE6_PASSWD:
DEVICE6_FILTER_PARAMS:
DEVICE6_UNPROTO1:
DEVICE6_UNPROTO2:
DEVICE6_UNPROTO3:
DEVICE6_UNPROTO_IGATE:WIDE2-1
DEVICE6_TNC_UP_FILE:
DEVICE6_TNC_DOWN_FILE:
DEVICE6_TNC_TXDELAY:40
DEVICE6_TNC_PERSISTENCE:63
DEVICE6_TNC_SLOTTIME:10
DEVICE6_TNC_TXTAIL:30
DEVICE6_TNC_FULLDUPLEX:0
DEVICE6_TNC_INIT_KISSMODE:0
DEVICE6_SPEED:0
DEVICE6_STYLE:0
DEVICE6_IGATE_OPTION:0
DEVICE6_TXMT:0
DEVICE6_RELAY_DIGIPEAT:1
DEVICE6_RECONN:0
DEVICE6_ONSTARTUP:0
DEVICE6_GPSRETR:5
DEVICE6_SETTIME:0
DEVICE6_TNCEXTRADELAY:0
DEVICE7_TYPE:0
DEVICE7_NAME:
DEVICE7_RADIO_PORT:0
DEVICE7_CONVERSE_CMD:k
DEVICE7_INTERFACE_COMMENT:
DEVICE7_HOST:
DEVICE7_PASSWD:
DEVICE7_FILTER_PARAMS:
DEVICE7_UNPROTO1:
DEVICE7_UNPROTO2:
DEVICE7_UNPROTO3:
DEVICE7_UNPROTO_IGATE:WIDE2-1
DEVICE7_TNC_UP_FILE:
DEVICE7_TNC_DOWN_FILE:
DEVICE7_TNC_TXDELAY:40
DEVICE7_TNC_PERSISTENCE:63
DEVICE7_TNC_SLOTTIME:10
DEVICE7_TNC_TXTAIL:30
DEVICE7_TNC_FULLDUPLEX:0
DEVICE7_TNC_INIT_KISSMODE:0
DEVICE7_SPEED:0
DEVICE7_STYLE:0
DEVICE7_IGATE_OPTION:0
DEVICE7_TXMT:0
DEVICE7_RELAY_DIGIPEAT:1
DEVICE7_RECONN:0
DEVICE7_ONSTARTUP:0
DEVICE7_GPSRETR:5
DEVICE7_SETTIME:0
DEVICE7_TNCEXTRADELAY:0
DEVICE8_TYPE:0
DEVICE8_NAME:
DEVICE8_RADIO_PORT:0
DEVICE8_CONVERSE_CMD:k
DEVICE8_INTERFACE_COMMENT:
DEVICE8_HOST:
DEVICE8_PASSWD:
DEVICE8_FILTER_PARAMS:
DEVICE8_UNPROTO1:
DEVICE8_UNPROTO2:
DEVICE8_UNPROTO3:
DEVICE8_UNPROTO_IGATE:WIDE2-1
DEVICE8_TNC_UP_FILE:
DEVICE8_TNC_DOWN_FILE:
DEVICE8_TNC_TXDELAY:40
DEVICE8_TNC_PERSISTENCE:63
DEVICE8_TNC_SLOTTIME:10
DEVICE8_TNC_TXTAIL:30
DEVICE8_TNC_FULLDUPLEX:0
DEVICE8_TNC_INIT_KISSMODE:0
DEVICE8_SPEED:0
DEVICE8_STYLE:0
DEVICE8_IGATE_OPTION:0
DEVICE8_TXMT:0
DEVICE8_RELAY_DIGIPEAT:1
DEVICE8_RECONN:0
DEVICE8_ONSTARTUP:0
DEVICE8_GPSRETR:5
DEVICE8_SETTIME:0
DEVICE8_TNCEXTRADELAY:0
DEVICE9_TYPE:0
DEVICE9_NAME:
DEVICE9_RADIO_PORT:0
DEVICE9_CONVERSE_CMD:k
DEVICE9_INTERFACE_COMMENT:
DEVICE9_HOST:
DEVICE9_PASSWD:
DEVICE9_FILTER_PARAMS:
DEVICE9_UNPROTO1:
DEVICE9_UNPROTO2:
DEVICE9_UNPROTO3:
DEVICE9_UNPROTO_IGATE:WIDE2-1
DEVICE9_TNC_UP_FILE:
DEVICE9_TNC_DOWN_FILE:
DEVICE9_TNC_TXDELAY:40
DEVICE9_TNC_PERSISTENCE:63
DEVICE9_TNC_SLOTTIME:10
DEVICE9_TNC_TXTAIL:30
DEVICE9_TNC_FULLDUPLEX:0
DEVICE9_TNC_INIT_KISSMODE:0
DEVICE9_SPEED:0
DEVICE9_STYLE:0
DEVICE9_IGATE_OPTION:0
DEVICE9_TXMT:0
DEVICE9_RELAY_DIGIPEAT:1
DEVICE9_RECONN:0
DEVICE9_ONSTARTUP:0
DEVICE9_GPSRETR:5
DEVICE9_SETTIME:0
DEVICE9_TNCEXTRADELAY:0
DEVICE10_TYPE:0
DEVICE10_NAME:
DEVICE10_RADIO_PORT:0
DEVICE10_CONVERSE_CMD:k
DEVICE10_INTERFACE_COMMENT:
DEVICE10_HOST:
DEVICE10_PASSWD:
DEVICE10_FILTER_PARAMS:
DEVICE10_UNPROTO1:
DEVICE10_UNPROTO2:
DEVICE10_UNPROTO3:
DEVICE10_UNPROTO_IGATE:WIDE2-1
DEVICE10_TNC_UP_FILE:
DEVICE10_TNC_DOWN_FILE:
DEVICE10_TNC_TXDELAY:40
DEVICE10_TNC_PERSISTENCE:63
DEVICE10_TNC_SLOTTIME:10
DEVICE10_TNC_TXTAIL:30
DEVICE10_TNC_FULLDUPLEX:0
DEVICE10_TNC_INIT_KISSMODE:0
DEVICE10_SPEED:0
DEVICE10_STYLE:0
DEVICE10_IGATE_OPTION:0
DEVICE10_TXMT:0
DEVICE10_RELAY_DIGIPEAT:1
DEVICE10_RECONN:0
DEVICE10_ONSTARTUP:0
DEVICE10_GPSRETR:5
DEVICE10_SETTIME:0
DEVICE10_TNCEXTRADELAY:0
DEVICE11_TYPE:0
DEVICE11_NAME:
DEVICE11_RADIO_PORT:0
DEVICE11_CONVERSE_CMD:k
DEVICE11_INTERFACE_COMMENT:
DEVICE11_HOST:
DEVICE11_PASSWD:
DEVICE11_FILTER_PARAMS:
DEVICE11_UNPROTO1:
DEVICE11_UNPROTO2:
DEVICE11_UNPROTO3:
DEVICE11_UNPROTO_IGATE:WIDE2-1
DEVICE11_TNC_UP_FILE:
DEVICE11_TNC_DOWN_FILE:
DEVICE11_TNC_TXDELAY:40
DEVICE11_TNC_PERSISTENCE:63
DEVICE11_TNC_SLOTTIME:10
DEVICE11_TNC_TXTAIL:30
DEVICE11_TNC_FULLDUPLEX:0
DEVICE11_TNC_INIT_KISSMODE:0
DEVICE11_SPEED:0
DEVICE11_STYLE:0
DEVICE11_IGATE_OPTION:0
DEVICE11_TXMT:0
DEVICE11_RELAY_DIGIPEAT:1
DEVICE11_RECONN:0
DEVICE11_ONSTARTUP:0
DEVICE11_GPSRETR:5
DEVICE11_SETTIME:0
DEVICE11_TNCEXTRADELAY:0
DEVICE12_TYPE:0
DEVICE12_NAME:
DEVICE12_RADIO_PORT:0
DEVICE12_CONVERSE_CMD:k
DEVICE12_INTERFACE_COMMENT:
DEVICE12_HOST:
DEVICE12_PASSWD:
DEVICE12_FILTER_PARAMS:
DEVICE12_UNPROTO1:
DEVICE12_UNPROTO2:
DEVICE12_UNPROTO3:
DEVICE12_UNPROTO_IGATE:WIDE2-1
DEVICE12_TNC_UP_FILE:
DEVICE12_TNC_DOWN_FILE:
DEVICE12_TNC_TXDELAY:40
DEVICE12_TNC_PERSISTENCE:63
DEVICE12_TNC_SLOTTIME:10
DEVICE12_TNC_TXTAIL:30
DEVICE12_TNC_FULLDUPLEX:0
DEVICE12_TNC_INIT_KISSMODE:0
DEVICE12_SPEED:0
DEVICE12_STYLE:0
DEVICE12_IGATE_OPTION:0
DEVICE12_TXMT:0
DEVICE12_RELAY_DIGIPEAT:1
DEVICE12_RECONN:0
DEVICE12_ONSTARTUP:0
DEVICE12_GPSRETR:5
DEVICE12_SETTIME:0
DEVICE12_TNCEXTRADELAY:0
DEVICE13_TYPE:0
DEVICE13_NAME:
DEVICE13_RADIO_PORT:0
DEVICE13_CONVERSE_CMD:k
DEVICE13_INTERFACE_COMMENT:
DEVICE13_HOST:
DEVICE13_PASSWD:
DEVICE13_FILTER_PARAMS:
DEVICE13_UNPROTO1:
DEVICE13_UNPROTO2:
DEVICE13_UNPROTO3:
DEVICE13_UNPROTO_IGATE:WIDE2-1
DEVICE13_TNC_UP_FILE:
DEVICE13_TNC_DOWN_FILE:
DEVICE13_TNC_TXDELAY:40
DEVICE13_TNC_PERSISTENCE:63
DEVICE13_TNC_SLOTTIME:10
DEVICE13_TNC_TXTAIL:30
DEVICE13_TNC_FULLDUPLEX:0
DEVICE13_TNC_INIT_KISSMODE:0
DEVICE13_SPEED:0
DEVICE13_STYLE:0
DEVICE13_IGATE_OPTION:0
DEVICE13_TXMT:0
DEVICE13_RELAY_DIGIPEAT:1
DEVICE13_RECONN:0
DEVICE13_ONSTARTUP:0
DEVICE13_GPSRETR:5
DEVICE13_SETTIME:0
DEVICE13_TNCEXTRADELAY:0
DEVICE14_TYPE:0
DEVICE14_NAME:
DEVICE14_RADIO_PORT:0
DEVICE14_CONVERSE_CMD:k
DEVICE14_INTERFACE_COMMENT:
DEVICE14_HOST:
DEVICE14_PASSWD:
DEVICE14_FILTER_PARAMS:
DEVICE14_UNPROTO1:
DEVICE14_UNPROTO2:
DEVICE14_UNPROTO3:
DEVICE14_UNPROTO_IGATE:WIDE2-1
DEVICE14_TNC_UP_FILE:
DEVICE14_TNC_DOWN_FILE:
DEVICE14_TNC_TXDELAY:40
DEVICE14_TNC_PERSISTENCE:63
DEVICE14_TNC_SLOTTIME:10
DEVICE14_TNC_TXTAIL:30
DEVICE14_TNC_FULLDUPLEX:0
DEVICE14_TNC_INIT_KISSMODE:0
DEVICE14_SPEED:0
DEVICE14_STYLE:0
DEVICE14_IGATE_OPTION:0
DEVICE14_TXMT:0
DEVICE14_RELAY_DIGIPEAT:1
DEVICE14_RECONN:0
DEVICE14_ONSTARTUP:0
DEVICE14_GPSRETR:5
DEVICE14_SETTIME:0
DEVICE14_TNCEXTRADELAY:0
TNC_LOG_DATA:1
LOGFILE_TNC:logs/tnc.log
NET_LOG_DATA:1
NET_RUN_AS_IGATE:0
NETWORK_WAITTIME:10
LOG_IGATE:1
LOG_WX:1
LOG_MESSAGE:1
LOG_WX_ALERT:1
LOGFILE_IGATE:logs/igate.log
LOGFILE_NET:logs/net.log
LOGFILE_WX:logs/wx.log
LOGFILE_MESSAGE:logs/message.log
LOGFILE_WX_ALERT:logs/wx_alert.log
SNAPSHOTS_ENABLED:0
KMLSNAPSHOTS_ENABLED:0
WX_ALERTS_REFRESH_TIME:60
GPS_TIME:60
POSIT_RATE:1800
OBJECT_RATE:1800
UPDATE_DR_RATE:30
BST_TYPE:0
BST_COMPRESSED_POSIT:0
COMPRESSED_OBJECTS_ITEMS:0
SMART_BEACONING:1
SB_TURN_MIN:20
SB_TURN_SLOPE:25
SB_TURN_TIME:5
SB_POSIT_FAST:60
SB_POSIT_SLOW:30
SB_LOW_SPEED_LIMIT:2
SB_HIGH_SPEED_LIMIT:60
POP_UP_NEW_BULLETINS:1
VIEW_ZERO_DISTANCE_BULLETINS:1
WARN_ABOUT_MOUSE_MODIFIERS:1
SOUND_COMMAND:play
SOUND_PLAY_ONS:0
SOUND_ONS_FILE:newstation.wav
SOUND_PLAY_ONM:0
SOUND_ONM_FILE:newmessage.wav
SOUND_PLAY_PROX:0
SOUND_PROX_FILE:proxwarn.wav
PROX_MIN:0.01
PROX_MAX:10
SOUND_PLAY_BAND:0
SOUND_BAND_FILE:bandopen.wav
BANDO_MIN:200
BANDO_MAX:2000
SOUND_PLAY_WX_ALERT:0
SOUND_WX_ALERT_FILE:thunder.wav
ATV_SCREEN_ID:0
DEFAULT_STATION_OLD:4800
DEFAULT_STATION_CLEAR:43200
DEFAULT_AIRCRAFT_CLEAR:0
DEFAULT_STATION_REMOVE:86400
HELP_DATA:config/help.dat
MESSAGE_COUNTER:0D
AUTO_MSG_REPLY:Autoreply- No one is at the keyboard
DISPLAY_PACKET_TYPE:0
BULLETIN_RANGE:10
VIEW_MESSAGE_RANGE:0
VIEW_MESSAGE_LIMIT:10000
PREDEF_MENU_LOAD:0
PREDEF_MENU_FILE:predefined_SAR.sys
READ_MESSAGES_PACKET_DATA_TYPE:0
READ_MESSAGES_MINE_ONLY:0
PRINT_ROTATED:0
PRINT_AUTO_ROTATION:1
PRINT_AUTO_SCALE:1
PRINT_IN_MONOCHROME:0
PRINT_INVERT_COLORS:0
RAIN_GAUGE_TYPE:0
LIST0_H:-1
LIST0_W:-1
LIST1_H:-1
LIST1_W:-1
LIST2_H:494
LIST2_W:700
LIST3_H:-1
LIST3_W:-1
LIST4_H:-1
LIST4_W:-1
LIST5_H:-1
LIST5_W:-1
LIST6_H:-1
LIST6_W:-1
TRACK_ME:1
TRACKING_STATION_CALLSIGN:KD0WKW
MAP_CHOOSER_EXPAND_DIRS:1
ST_DIRECT_TIMEOUT:3600
DEAD_RECKONING_TIMEOUT:600
SERIAL_CHAR_PACING:1
TRAIL_SEGMENT_TIME:45
TRAIL_SEGMENT_DISTANCE:1
RINO_DOWNLOAD_INTERVAL:0
SNAPSHOT_INTERVAL:5
